/src/js-client/node_modules/*
/src/js-client/bin/*
/src /js-client/obj/*
/src /js-client/out/*

/src/IdentityServer/bin/*
/src/IdentityServer/obj/*
/src/IdentityServer/out/*
/src/IdentityServer/*.txt
/src/IdentityServer/*.rsa

/src/Client/bin/*
/src/Client/obj/*
/src/Client/out/*

.vs/Quickstart/xs

/src/Api/bin/*
/src/Api/obj/*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*